<header>
  <hgroup>
    <h1>Welcome to Webdotnet Ltd.</h1>
  </hgroup>
</header>
<div class="row" ng-controller="BlogController">
  <button ng-click="createNewArticle()">Add</button>
  <blog-list ng-repeat="a in articles">
    <div ng-controller="CkeditorController">
      <div ng-switch on="a.displayMode">
        <article ng-switch-default>
          <div ng-bind-html="a.content"></div>
          <span>Posted on: <time>{{a.created}}</time></span>
        </article>
        <div ng-switch-when="edit" ckeditor="options" ng-model="a.content" ready="onReady()">
            
        </div>
      </div>
      <button ng-click="saveArticle(a)">Save</button>
      <button ng-click="editArticle(a)">Edit</button>
      <button ng-click="deleteArticle(a)">Delete</button>
    </div>
  </blog-list>
</div>